<% layout('layouts/boilerplate') %>
    <main class="row mb-2">
        <div class="col-8 offset-2 col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="https://source.unsplash.com/collection/2580789" alt="" class="card-img-top">
                <h3 class="text-center">Register</h3>
                <div class="card-body">
                    <form action="/register" method="POST" novalidate class="validated-form">
                        <div class="mb-2">
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control" type="email" id="email" name="email" placeholder="email@mail.com" autofocus required/>
                        </div>
                        <div class="mb-2">
                            <label class="form-label for="un">Username</label>
                            <input class="form-control" type="text" id="un" name="username" required/>
                        </div>
                        <div class="mb-2">
                            <label for="pw">Password</label>
                            <input class="form-control" type="password" id="pw" name="password" placeholder="*******" required/>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-block btn-success mb-3">Sign Me Up</button>
                        </div>                                  
        
                    </form>
                </div>
            </div>
        </div>
    </main>